<%- include('bin/assistir/header.ejs') %>

	<div class="container">
		<video src="<%= videoURL %>" autobuffer controls poster="http://proximonivel.pt/wp-content/uploads/2017/06/mob-psycho-100-destaque-pn-n.png"></video>
	</div>

<%- include('bin/assistir/footer.ejs') %>