* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #0e1013;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.ativado{ background-color: #2b2b2b !important; border: 2px solid #B20909; }
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex.column{
    flex-direction: column;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B20909;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
}
header .div-brand{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .div-Amenu, header .div-Fmenu{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .div-Fmenu{
    display: none;
}
.div-Amenu button, .div-Fmenu button{
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.brand {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 1.7em;
    display: block;
    width: 50px;
}

.menu{
    display: none;
    width: 70%;
    height: 100vh;
    background-color: #2b2b2b;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 10px;
    border-right: 2px solid #0e1013;
}
form {
    display: flex;
}
form input {
    border: none;
    text-align: center;
    color: #0e1013;
    background-color: #fff;
    width: 80%;
    height: 45px;
}
form button {
    border: none;
    text-align: center;
    color: #fff;
    background-color: #B20909;
    padding: 5px;
    width: 20%;
    height: 45px;
}
.opcoes{
    margin-top: 5px;
}
.opcoes a{
    margin-top: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #B20909;
    width: 100%;
    padding: 15px 0px;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
}

.container .card-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container .card-img img {
    width: 100%;
    height: 240px;
}

.container .card-img:first-child {
    margin-top: 0px;
}

.container .card-img {
    margin-top: 50px;
}

.container .card-img-pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card-img-pesquisa img {
    width: 80%;
    height: auto;
    border-left: 2px solid #B20909;
    border-right: 2px solid #B20909;
    border-top: 2px solid #B20909;
}

.container .card-img-pesquisa:first-child {
    margin-top: 0px;
}

.container .card-img-pesquisa {
    margin-top: 50px;
}

.container .card-title {
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 15px 30px 15px;
    border-top: 2px solid #B20909;
    border-bottom: 2px solid #B20909;
}

.container .card-title a {
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.container video {
    width: 100% !important;
    height: auto !important;
}

.info {
    color: #fff;
    margin-top: 15px;
    display: flex;
}

.info-img {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.info-img img {
    width: 70%;
    height: auto;
    background-color: #2b2b2b;
    border-left: 2px solid #B20909;
    border-right: 2px solid #B20909;
}

.info-title {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #2b2b2b;
    border-top: 2px solid #B20909;
    border-bottom: 2px solid #B20909;
    padding: 20px;
    margin-top: 0;
}

.info-titlee {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.info-info {
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0px 50px;
}

.info-genero {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.info-sinopse {
    flex-direction: column;
    align-items: left;
    text-align: justify;
    padding: 0 25px 0px 25px;
    margin-bottom: 50px;
}

.episodios {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #2b2b2b;
    border-top: 2px solid #B20909;
    padding: 20px;
    margin-top: 5px;
}

.episodios a {
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.paginacao {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

#paginas {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#paginas a {
    display: inline-block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #B20909;
    padding: 10px;
    width: 40px;
    height: 40px;
    margin: 5px;
}

footer {
    background-color: #B20909;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 25px;
    padding: 15px;
}

.copyright {
    margin-top: 5px;
    text-align: center;
}